{% extends "layout.html" %}
{% block banner %}

{% endblock %}
{% block main %}
   <br>
      <div id="book" class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style='font-size:75px'>Exercises Done</h2>
                     <!-- <span>{{send}}</span> -->
                  </div>
               </div>
            </div>
            <!-- <div class="row">
               <div class="col-md-8 offset-md-2 ">
                  <div class="about_box ">
                     <figure><img src="images/about_img.png" alt="#"/></figure>
                     <a class="read_more" href="#">Read more</a>
                  </div>
               </div>
            </div> -->
         </div>
      </div>
      <!-- about -->
      <!-- best -->
      <br>
      <div id="mywork" class="best">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     {% for r in send %}
                     <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <!--  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{'#' ~ r[0]}}" aria-expanded="true" aria-controls="{{r[0]}}"> -->
                              <h2>{{r[0]}}</h2>
                            <!-- </button> -->
                          </h2>
                        </div>
                    
                        <!-- <div id="{{ r[0] }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"> -->
                          <div class="card-body">
                           <button type="button" class="collapsible">Click to show finished </button>
                           <div class="content">
                           <h3> Done: </h3>
                           {% for ex in r[1] %}
                           <span>{{ex}}</span> <br>
                           {% endfor %} <br>
                           </div>

                           <h3> Not Done: </h3>
                           {% for ex in r[2] %}
                           <span>{{ex}}</span> <br>
                           {% endfor %} <br>
                          </div>
                        <!-- </div> -->
                      </div>
                      <br>

                     
                        
                        
                        <!-- <span>{{r[2]}}</span> -->
                     {% endfor %}
                     
                     <span></span>
                     <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end best -->
<script>
   var coll = document.getElementsByClassName("collapsible");
   var i;
   
   for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
         this.classList.toggle("active");
         var content = this.nextElementSibling;
         if (content.style.display === "block") {
         content.style.display = "none";
         } else {
         content.style.display = "block";
         }
      });
   }
</script>
{% endblock %}