{% extends "layout.html" %}
{% block banner %}
<div class="container-fluid">
   <div class="row d_flex">
      <div class="col-md-5">
         <div class="text-bg">
            <h1>Muralt's CSA Homepage</h1>
         </div>
      </div>
      <div class="col-md-7 padding_right1">
         <div class="text-img">
            <figure><img src="{{url_for('static', filename='images/muralt.png')}}" alt="#"/></figure>
            <!-- <h3>01</h3> -->
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block main %}
<!-- <div id="contact" class="request">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>What exercises did you do?</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="black_bg">
                  <div class="row">
                     <div class="col-md-7 ">
                        <form class="main_form" action ='/find' method = 'post'>
                           <div class="row">
                              <div class="col-md-12 ">
                                 <input class="contactus" placeholder="Username" type="text" name="username">
                              </div>
                              <div class="col-md-12">
                                 <input class="contactus" placeholder="Password" type="password" name="password">
                              </div>
                              <div class="col-sm-12">
                                 <button class="send_btn" type = 'submit'>Send</button>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="col-md-5">

                        <div class="mane_img">
                           <figure><img src="{{url_for('static', filename='images/muralt.png')}}" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
{% endblock %}