{% extends "layout.html" %}
{% block banner %}

{% endblock %}
{% block main %}
   <br>
   <div id="contact" class="request">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Register</h2>
             </div>
          </div>
          <div class="row">
             <div class="col-sm-12">
                <div class="black_bg">
                   <div class="row">
                      <div class="col-md-7 ">
                         <form class="main_form" action ='/register' method = 'post'>
                            <div class="row">
                               <div class="col-md-12 ">
                                  <input class="contactus" placeholder="Username" type="text" name="username">
                               </div>
                               <div class="col-md-12">
                                  <input class="contactus" placeholder="Password" type="password" name="password">
                               </div>
                               <div class="col-md-12 ">
                                <input class="contactus" placeholder="Coding Bat Username/Email" type="text" name="cbusername">
                             </div>
                             <div class="col-md-12">
                                <input class="contactus" placeholder="Coding Bat Password" type="password" name="cbpassword">
                             </div>
                               <div class="col-sm-12">
                                  <button class="send_btn" type = 'submit'>Send</button>
                               </div>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <br>
 {% if incorrect %}
 <h2 style="color:red; text-align:center; font-size:30px">Incorrect Coding Bat Email or Password!</h2>
 {% endif %}
 <br>
 {% if exists %}
 <h2 style="color:red; text-align:center; font-size:30px">Username already exists!</h2>
 {% endif %}
{% endblock %}